    <!-- header section -->
    <div class="container header-section">
        <div class="navigation-left">
          <nav class="nav flex-column">
            <a class="nav-link active" href="#"
              ><i class="fa-solid fa-house"></i
            ></a>
            <a class="nav-link" href="#1"
              ><img class="img-fluid" src="/assets/images/i-1.png" alt="img"
            /></a>
            <a class="nav-link" href="#2"
              ><img class="img-fluid" src="/assets/images/i-2.png" alt="img"
            /></a>
            <a class="nav-link" href="#3"
              ><img class="img-fluid" src="/assets/images/i-3.png" alt="img"
            /></a>
            <a class="nav-link" href="#4"
              ><img class="img-fluid" src="/assets/images/i-4.png" alt="img"
            /></a>
            <a class="nav-link" href="#5"
              ><img class="img-fluid" src="/assets/images/i-5.png" alt="img"
            /></a>
            <a class="nav-link" href="#6"
              ><img class="img-fluid" src="/assets/images/i-5.png" alt="img"
            /></a>
          </nav>
        </div>
        <div class="navigation-right">
          <nav class="nav flex-column">
            <a
              class="nav-link active"
              target="_blank"
              href="https://www.linkedin.com/in/sanka-dananjaya/"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
            <a class="nav-link" target="_blank" href="#"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a class="nav-link" target="_blank" href="#"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </nav>
        </div>
      </div>
  
