    <!-- main section -->
    <div
      class="container main-section"
      data-aos="zoom-in"
      data-aos-duration="2900"
    >
      <h3>Hello<span>_</span></h3>
      <h1><span>I’m a</span> Software Developer</h1>
      <img
        src="/assets/images/1660421233942.jpg"
        alt="sanka dananjaya"
        class="img-fluid"
      />
      <div class="btns">
        <a
          class="download"
          target="_blank"
          href="Sanka Resume new.pdf" download
          >Download CV</a
        >
        <a
          class="contact"
          target="_blank"
          href="https://www.linkedin.com/in/sanka-dananjaya/"
          >Contact Me</a
        >
      </div>
    </div>